---
layout: default
---

<div class="jumbotron dark">
	<div class="container narrow">
		<div class="row">
			<div class="col-sm-12">
				<h3>{{ page.services }}</h3>
			</div>
			<div class="col-sm-6">
				<img src="http://placehold.it/350x350" />
			</div>
			<div class="col-sm-6">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<img src="http://placehold.it/80x80" />
						</div>
						<div class="col-sm-6">
							<p>{{ page.email }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<img src="http://placehold.it/80x80" />
						</div>
						<div class="col-sm-6">
							<p>{{ page.phone }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<img src="http://placehold.it/80x80" />
						</div>
						<div class="col-sm-6">
							<p>{{ page.address_line_1 }}</p>
							<p>{{ page.address_line_2 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container narrow">
	<div class="row">
		<div class="col-sm-12">
			{{ content }}
		</div>
	</div>
</div>
